# --- Configuracion para la conexion a la base de datos PostgreSQL ---
POSTGRES_HOST=amazonaws.com
POSTGRES_PORT=5432
POSTGRES_DB=tacna_market
POSTGRES_USER=postgres
POSTGRES_PASSWORD=sixseven

# --- Configuracion para NestJS ---
NEST_PORT=3001
PRODUCTION_MODE=false
JWT_SECRET=SecretoMuyFuerteParaJWT
JWT_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:3000
# --- Configuracion para el Cliente ---
CLIENT_PORT=4173
VITE_API_URL=http://localhost:3001


# --- Configuración para Correo (Nodemailer) ---
EMAIL_USER=sawade2009qa@gmail.com
EMAIL_PASS=chdzzyxruyihrlua