# --- Configuracion para la conexion a la base de datos PostgreSQL ---
POSTGRES_HOST=amazonaws.com
POSTGRES_PORT=5432
POSTGRES_DB=tacna_market
POSTGRES_USER=postgres
POSTGRES_PASSWORD=sixseven

# --- Configuracion para NestJS ---
NEST_PORT=3001
PRODUCTION_MODE=false
JWT_SECRET=SecretoMuyFuerteParaJWT
JWT_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:4173

# --- Configuracion para el Vite ---
CLIENT_PORT=4173
VITE_API_URL=http://localhost:3001


# --- Configuración para Correo (Resend) ---
RESEND_API_KEY=re_gJddVbcx_AjLGKczmQzizGh1Z9Yc84AWg